section.bloc {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    @apply min-h-10 py-2 px-2
}

section.bloc>div {
    @apply flex flex-col flex-wrap justify-between gap-0
}

section.bloc>h2.title {
    @apply text-blue-900
}